nav{
    background-color: blue;
    margin-top: -20px;
    height: 180px;
}

.contenedor{
    text-align: center;
    padding-top: 8px;
    font-size: 30px;
}

.Categorias{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;

}

.carro{
    text-align: end;
    margin-top: -70px;
    margin-right: 60px;
}

*{
    color: black;
    text-decoration: none
}

.indicador{
    font-size: 28px;
    margin: auto;
}