*{
    background-color: #dad9d9;
    color: #ff2222;
}

button{
    border: 2px solid #ff2222;
    margin: 3px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: ;

}

button:hover{
    color:hsl(0, 94%, 26%) ;
    border: 2px solid hsl(0, 94%, 26%);
}